body {
  width: 100%;
}

h1 {
  text-align: center;
}

form {
  margin: 10% 10%;
}

#game {
  display: none;
  margin: 20px;
  width: 90%;
  height: 100%;
}

#game div {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: none;
  margin: 5px 10% 5px 10%;
}

button {
  display: inline-block;
}

#winMessage{
  display: none;
  text-align: center;
}
